* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: #bac9c8;
  padding: 0 10%;
}

ul {
  list-style: none;
}

button,
input[type="submit"] {
  background-color: #4eb55f;
  cursor: pointer;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:focus {
  outline: none !important;
  border: none;
}

.logoLinkStyles {
  display: flex;
  align-items: center;
}

.logoStyles {
  height: 40px;
}

.header_title {
  font-family: baskervill, sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 55px;
  color: #ffffff;
}

.loading {
  display: flex;
  justify-content: center;
}

.loading div {
  width: 1rem;
  height: 1rem;
  margin: 2rem 0.3rem;
  background: #fdcb6e;
  border-radius: 50%;
  animation: 0.5s bounce infinite alternate;
}
.loading div:nth-child(2) {
  animation-delay: 0.3s;
}

.loading div:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes bounce {
  to {
    opacity: 0.3;
    transform: translate3d(0, -1rem, 0);
  }
}

.loader_container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
