.add-cont {
    transform: translateY(100px);
    max-width: 100%;
    background: #FFF;
    color: #3e4443;
    padding: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    text-align: start;
}

.add-cont h1 {
    color: #3e4443
}

form {
    display: flex;
    flex-direction: column;
}

form>* {
    margin-top: 15px;
}

input[type=text] {
    border: none;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #3e4443
}

select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

.group>* {
    margin-right: 15px;
    margin-top: 15px;
}