nav {
    transform: translateY(80px);
    margin-top: -80px;
}
.nav__items{
   background-color: transparent;
   border: none;
   height: 40px;
   margin-top: 40px;
   display: flex;
   justify-content: flex-end;
   align-items:center;
}

.nav__item--left {
   margin-right: auto;
}
.nav__item--logo {
   height: 40px;
}
.nav__item--link {
   font-family: Muli,sans-serif;
   font-size: 18px;
   font-weight: 700;
   color: #fff;
   transition: all 0.3s ease 0s;
   margin-left: 40px;
   text-decoration: none;
}
.nav__item--link:hover{
   color: #f06666;
}
.active{
   color: #f06666; 
}