nav {
   transform: translateY(80px);
   margin-top: -80px;
}

.nav__items {
   background-color: transparent;
   border: none;
   height: 40px;
   margin-top: 40px;
   display: flex;
   justify-content: flex-end;
   align-items: center;
}
@media (max-width: 768px) {
   .nav__items{display: none;}
 }
.nav__item--left {
   margin-right: auto;
}

.nav__item--logo {
   height: 40px;
}

.nav__item--link {
   font-family: Muli, sans-serif;
   font-size: 18px;
   font-weight: 700;
   color: #fff;
   transition: all 0.3s ease 0s;
   margin-left: 40px;
   text-decoration: none;
}

.nav__item--link:hover {
   color: #f06666;
}

.active {
   color: #f06666;
}
<<<<<<< HEAD
;
 
=======

.nav__items #btnNav {
   background: #4eb55f;
   margin: 1%;
   width: 110px;
}
>>>>>>> ca41953a8b8505a38b472d268d7c9a7ed53529eb
